* {
    margin: 0;
    padding: 0;
}

/* === ESTRUTURA DO SITE - HEADER - MAIN - FOOTER === */

header, section , footer {
    border: 1px solid  #ff914d;
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 12vh auto 08vh;

    height: 100vh;
}

header {
    grid-column: 1 / 7;
}

section {
    grid-column: 1 / 7;
}

footer {
    grid-column: 1 / 7;
    justify-items: end;
}

/* === HEADER: === */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.image-logo {
    margin-left: 12px;
    
    height: 100%;

    display: flex;
    align-items: center;
}


.image-logo img {
    
    height: 90%;
}

.list-menu {
    display: flex;  
}

.list-item-menu {
    margin: 0 16px;  
}

.list-item-menu a {
    text-decoration: none;

    color: #ff914d;

    font-size: 20px;
}

.list-item-menu a:hover {
    color: #ffbd59;
    border-bottom: 2px solid #ffbd59;
}

.list-menu li {
    list-style-type: none;
}

.container-right-header {
    height: 100% ;

    display: flex;
    justify-content: space-between;
}

.login {
    width: 8vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.login img {
    width: 50%;
}

.button-subscrive a {
    display: flex;
    align-items: center;

    height: 100%; 
    text-decoration: none;

    
}

.button-subscrive .subscrive {
    height: 60%;
    width: 15vw;

    margin-right: 12px;

    color: #ff914d;

    cursor: pointer;

    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;
}

.subscrive:hover {
    color: #ffbd59 ;
    
}


/* SECTION */
section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* width: 95vw;
    height: 100vh; */
    background: whitesmoke;
    font-size: 28px;
    
}
.item-section{
    margin: 10px;
    display: grid;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    
}
#imgsection{
    display: grid;
    margin: auto;
    width: 50vw;
    padding-bottom: 80px;
    padding-top: 80px;
}
.formulario{
    text-align: center;
    border-radius: 10px;
    background:  #ff914d;
    width: 50vw;
    height: auto;
    font: normal 15pt Arial;
    padding: 40px;
    box-shadow: 5px 5px 10px rgb(100, 96, 96);
    margin: auto;
}
.localizacao{
    width: 50%;
    padding: 20px;
}




/* === RODAPÉ: === */

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    background-color: #ff914d;
}

footer a {
    height: 100%;
    display: flex;
    align-items: center;
}

/* adicionado */
.icon {
    height: 100%; 
    display: flex;
}

footer img {
    height: 60%;
    
    margin: 0 24px;
}

footer h6, p {
    margin: 0 24px;
}

footer h6 {
    font-size: 16px;
}
    /* responsive */
@media screen and (max-width: 375px){
    body{
        height: 100vh;
        width: 100vw;
    }
    header{
        width: 100vw;
    }
    .container-right-header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;

    }
    .icon{
        display: flex;
        flex-direction: row;
        justify-items: left;
    }
    .icon img{
       width: 40px;
    }
     /* MENU HEADER: */
     .menu-header .list-menu {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        gap: 8px;
        
    }

    /* IMAGEM LOGO: */
    .image-logo img {

        height: 70%;
    }   

    /* BOTĆO HEADER: */
    .subscrive {
        display: none;
    }
    /* footer */
    .container-right-header {
        display: none;
    }

    footer p {
        font-size: 8px;
    }

    footer img {
        height: 40%;
    
        margin: 0 8px;
    }

    .list-menu .list-item-menu:nth-of-type(7) {
        display: none;
    }

    .menu-header .list-menu {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 12px;
        column-gap: 1px;
    }
    
    
}